
.container-header {
  background-color: #114A8B !important;
}
.lines {
  padding: 2%;
  background-color: #f0f8fe;
  box-shadow: 0px 0px 2px #114a8b;
  &__line {
    display: flex;
    margin: 5px;
    @media (max-width: 767px) {    
      margin: 3px;
    }
  }
  &__last-line {
    
  }
  &__title {
    width: 30%;
    padding: 5px;
    font-weight: bold;
    @media (max-width: 767px) {    
      padding: 3px;
      font-size: 12px;
    }
  }
  &__desc {    
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px black;
    padding: 5px;
    @media (max-width: 767px) {    
      padding: 3px;
      font-size: 12px;
    }
  }
  &__desc-clickable {    
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px black;
    padding: 5px;
    color: #114a8b;
    text-decoration: underline;
    cursor: pointer;
    @media (max-width: 767px) {    
      padding: 3px;
      font-size: 12px;
    }
    &:hover {
      background-color: #ececec;
    }
  }
  &__last-line-desc {
    width: 50%;
    padding: 5px;
    @media (max-width: 767px) {    
      padding: 3px;
      font-size: 12px;
    }
  }
  &__last-line-button {
    width: 20%;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    @media (max-width: 767px) {   
      font-size: 12px;
    }
  }
}
.padding2 {
  padding: 2%;
  @media (max-width: 767px) {  
    font-size: 12px !important;
  }
}

// override 

.MuiAccordionDetails-root {
}
.MuiAccordionSummary-root {
  background-color: aliceblue !important;
}